### base ###
set_io sysclk_in 35

### board0 ###

### w55000 ###
set_io PINOUT_W55000_MOSI 14
set_io PININ_W55000_MISO 17
set_io PINOUT_W55000_SCLK 15
set_io PINOUT_W55000_SEL 12

### stepdir0 ###
set_io PINOUT_STEPDIR0_STEP 45
set_io PINOUT_STEPDIR0_DIR 44
set_io PINOUT_STEPDIR0_EN 4

### stepdir1 ###
set_io PINOUT_STEPDIR1_STEP 47
set_io PINOUT_STEPDIR1_DIR 46

### blink0 ###
set_io PINOUT_BLINK0_LED 11

### bitin0 ###
set_io PININ_BITIN0_BIT 10

### stepdir2 ###
set_io PINOUT_STEPDIR2_STEP 2
set_io PINOUT_STEPDIR2_DIR 48

### bitout0 ###
set_io PINOUT_BITOUT0_BIT 43

### bitout1 ###
set_io PINOUT_BITOUT1_BIT 42

### bitin1 ###
set_io PININ_BITIN1_BIT 32

### bitin2 ###
set_io PININ_BITIN2_BIT 34

### bitin3 ###
set_io PININ_BITIN3_BIT 28

### bitin4 ###
set_io PININ_BITIN4_BIT 38

### bitin5 ###
set_io PININ_BITIN5_BIT 31
