### base ###
set_io sysclk_in 35

### w55000 ###
set_io PINOUT_W55000_MOSI 14
set_io PININ_W55000_MISO 17
set_io PINOUT_W55000_SCLK 15
set_io PINOUT_W55000_SEL 12

### stepdir0 ###
set_io PINOUT_STEPDIR0_STEP 45
set_io PINOUT_STEPDIR0_DIR 44

### stepdir1 ###
set_io PINOUT_STEPDIR1_STEP 47
set_io PINOUT_STEPDIR1_DIR 46

### blink0 ###
set_io PINOUT_BLINK0_LED 11

### bitout0 ###
set_io PINOUT_BITOUT0_BIT 4

### bitin0 ###
set_io PININ_BITIN0_BIT 10
