// ### base ###
IO_LOC "sysclk_in" 52;

// ### board0 ###

// ### bitin0 ###
IO_LOC "PININ_BITIN0_BIT" 29;
IO_PORT "PININ_BITIN0_BIT" PULL_MODE=UP;

// ### bitin1 ###
IO_LOC "PININ_BITIN1_BIT" 53;
IO_PORT "PININ_BITIN1_BIT" PULL_MODE=UP;

// ### bitin2 ###
IO_LOC "PININ_BITIN2_BIT" 54;
IO_PORT "PININ_BITIN2_BIT" PULL_MODE=UP;

// ### stepdir0 ###
IO_LOC "PINOUT_STEPDIR0_STEP" 63;
IO_PORT "PINOUT_STEPDIR0_STEP" DRIVE=4;
IO_LOC "PINOUT_STEPDIR0_DIR" 86;
IO_PORT "PINOUT_STEPDIR0_DIR" DRIVE=4;
IO_LOC "PINOUT_STEPDIR0_EN" 73;
IO_PORT "PINOUT_STEPDIR0_EN" DRIVE=4;

// ### stepdir1 ###
IO_LOC "PINOUT_STEPDIR1_STEP" 85;
IO_PORT "PINOUT_STEPDIR1_STEP" DRIVE=4;
IO_LOC "PINOUT_STEPDIR1_DIR" 84;
IO_PORT "PINOUT_STEPDIR1_DIR" DRIVE=4;

// ### stepdir2 ###
IO_LOC "PINOUT_STEPDIR2_STEP" 83;
IO_PORT "PINOUT_STEPDIR2_STEP" DRIVE=4;
IO_LOC "PINOUT_STEPDIR2_DIR" 82;
IO_PORT "PINOUT_STEPDIR2_DIR" DRIVE=4;

// ### w55000 ###
IO_LOC "PINOUT_W55000_MOSI" 48;
IO_PORT "PINOUT_W55000_MOSI" DRIVE=4;
IO_LOC "PININ_W55000_MISO" 49;
IO_LOC "PINOUT_W55000_SCLK" 31;
IO_PORT "PINOUT_W55000_SCLK" DRIVE=4;
IO_LOC "PINOUT_W55000_SEL" 32;
IO_PORT "PINOUT_W55000_SEL" DRIVE=4;

// ### bitin3 ###
IO_LOC "PININ_BITIN3_BIT" 26;
IO_PORT "PININ_BITIN3_BIT" PULL_MODE=UP;

// ### bitin4 ###
IO_LOC "PININ_BITIN4_BIT" 27;
IO_PORT "PININ_BITIN4_BIT" PULL_MODE=UP;

// ### bitin5 ###
IO_LOC "PININ_BITIN5_BIT" 28;
IO_PORT "PININ_BITIN5_BIT" PULL_MODE=UP;

// ### pwmout0 ###
IO_LOC "PINOUT_PWMOUT0_PWM" 76;
IO_PORT "PINOUT_PWMOUT0_PWM" DRIVE=4;

// ### bitout0 ###
IO_LOC "PINOUT_BITOUT0_BIT" 75;
IO_PORT "PINOUT_BITOUT0_BIT" DRIVE=4;

// ### bitout1 ###
IO_LOC "PINOUT_BITOUT1_BIT" 74;
IO_PORT "PINOUT_BITOUT1_BIT" DRIVE=4;

// ### bitin6 ###
IO_LOC "PININ_BITIN6_BIT" 55;
IO_PORT "PININ_BITIN6_BIT" PULL_MODE=UP;

// ### bitin7 ###
IO_LOC "PININ_BITIN7_BIT" 56;
IO_PORT "PININ_BITIN7_BIT" PULL_MODE=UP;

// ### uartsub0 ###
IO_LOC "PININ_UARTSUB0_RX" 33;
IO_LOC "PINOUT_UARTSUB0_TX" 40;
IO_PORT "PINOUT_UARTSUB0_TX" DRIVE=4;

