// ### base ###
IO_LOC "sysclk_in" E2;

// ### board0 ###

// ### blink0 ###
IO_LOC "PINOUT_BLINK0_LED" E8;
IO_PORT "PINOUT_BLINK0_LED" DRIVE=8;

// ### bitout0 ###
IO_LOC "PINOUT_BITOUT0_BIT" D7;
IO_PORT "PINOUT_BITOUT0_BIT" DRIVE=4;

// ### bitin0 ###
IO_LOC "PININ_BITIN0_BIT" H11;
IO_PORT "PININ_BITIN0_BIT" PULL_MODE=DOWN;

// ### bitin1 ###
IO_LOC "PININ_BITIN1_BIT" H10;
IO_PORT "PININ_BITIN1_BIT" PULL_MODE=DOWN;

// ### stepdir0 ###
IO_LOC "PINOUT_STEPDIR0_STEP" L5;
IO_PORT "PINOUT_STEPDIR0_STEP" DRIVE=4;
IO_LOC "PINOUT_STEPDIR0_DIR" K5;
IO_PORT "PINOUT_STEPDIR0_DIR" DRIVE=4;
IO_LOC "PINOUT_STEPDIR0_EN" A11;
IO_PORT "PINOUT_STEPDIR0_EN" DRIVE=4;

// ### stepdir1 ###
IO_LOC "PINOUT_STEPDIR1_STEP" K11;
IO_PORT "PINOUT_STEPDIR1_STEP" DRIVE=4;
IO_LOC "PINOUT_STEPDIR1_DIR" L11;
IO_PORT "PINOUT_STEPDIR1_DIR" DRIVE=4;

// ### stepdir2 ###
IO_LOC "PINOUT_STEPDIR2_STEP" E11;
IO_PORT "PINOUT_STEPDIR2_STEP" DRIVE=4;
IO_LOC "PINOUT_STEPDIR2_DIR" E10;
IO_PORT "PINOUT_STEPDIR2_DIR" DRIVE=4;

// ### w55000 ###
IO_LOC "PINOUT_W55000_MOSI" B11;
IO_PORT "PINOUT_W55000_MOSI" DRIVE=4;
IO_LOC "PININ_W55000_MISO" C11;
IO_LOC "PINOUT_W55000_SCLK" G11;
IO_PORT "PINOUT_W55000_SCLK" DRIVE=4;
IO_LOC "PINOUT_W55000_SEL" D11;
IO_PORT "PINOUT_W55000_SEL" DRIVE=4;

