// ### base ###
IO_LOC "sysclk_in" 52;

// ### w55000 ###
IO_LOC "PINOUT_W55000_MOSI" 32;
IO_PORT "PINOUT_W55000_MOSI" DRIVE=4;
IO_LOC "PININ_W55000_MISO" 48;
IO_LOC "PINOUT_W55000_SCLK" 31;
IO_PORT "PINOUT_W55000_SCLK" DRIVE=4;
IO_LOC "PINOUT_W55000_SEL" 49;
IO_PORT "PINOUT_W55000_SEL" DRIVE=4;

// ### wled0 ###
IO_LOC "PINOUT_WLED0_DATA" 54;
IO_PORT "PINOUT_WLED0_DATA" DRIVE=4;

// ### modbus0 ###
IO_LOC "PINOUT_MODBUS0_TX" 57;
IO_PORT "PINOUT_MODBUS0_TX" DRIVE=4;
IO_LOC "PININ_MODBUS0_RX" 69;
IO_LOC "PINOUT_MODBUS0_TX_ENABLE" 68;
IO_PORT "PINOUT_MODBUS0_TX_ENABLE" DRIVE=4;

// ### blink0 ###
IO_LOC "PINOUT_BLINK0_LED" 10;
IO_PORT "PINOUT_BLINK0_LED" DRIVE=8;

// ### i2cbus0 ###
IO_LOC "PININOUT_I2CBUS0_SDA" 56;
IO_PORT "PININOUT_I2CBUS0_SDA" DRIVE=4;
IO_LOC "PINOUT_I2CBUS0_SCL" 55;
IO_PORT "PINOUT_I2CBUS0_SCL" DRIVE=4;

// ### bitout0 ###
IO_LOC "PINOUT_BITOUT0_BIT" 42;
IO_PORT "PINOUT_BITOUT0_BIT" DRIVE=4;

// ### bitin0 ###
IO_LOC "PININ_BITIN0_BIT" 37;
IO_PORT "PININ_BITIN0_BIT" PULL_MODE=UP;

// ### bitin1 ###
IO_LOC "PININ_BITIN1_BIT" 38;
IO_PORT "PININ_BITIN1_BIT" PULL_MODE=UP;

// ### bitin2 ###
IO_LOC "PININ_BITIN2_BIT" 35;
IO_PORT "PININ_BITIN2_BIT" PULL_MODE=UP;

// ### bitout1 ###
IO_LOC "PINOUT_BITOUT1_BIT" 30;
IO_PORT "PINOUT_BITOUT1_BIT" DRIVE=4;

// ### pwmout0 ###
IO_LOC "PINOUT_PWMOUT0_PWM" 53;
IO_PORT "PINOUT_PWMOUT0_PWM" DRIVE=4;

// ### bitin3 ###
IO_LOC "PININ_BITIN3_BIT" 39;
IO_PORT "PININ_BITIN3_BIT" PULL_MODE=UP;

// ### bitin4 ###
IO_LOC "PININ_BITIN4_BIT" 36;
IO_PORT "PININ_BITIN4_BIT" PULL_MODE=UP;

// ### stepdir0 ###
IO_LOC "PINOUT_STEPDIR0_STEP" 41;
IO_PORT "PINOUT_STEPDIR0_STEP" DRIVE=4;
IO_LOC "PINOUT_STEPDIR0_DIR" 40;
IO_PORT "PINOUT_STEPDIR0_DIR" DRIVE=4;

// ### stepdir1 ###
IO_LOC "PINOUT_STEPDIR1_STEP" 33;
IO_PORT "PINOUT_STEPDIR1_STEP" DRIVE=4;
IO_LOC "PINOUT_STEPDIR1_DIR" 29;
IO_PORT "PINOUT_STEPDIR1_DIR" DRIVE=4;

// ### stepdir2 ###
IO_LOC "PINOUT_STEPDIR2_STEP" 28;
IO_PORT "PINOUT_STEPDIR2_STEP" DRIVE=4;
IO_LOC "PINOUT_STEPDIR2_DIR" 27;
IO_PORT "PINOUT_STEPDIR2_DIR" DRIVE=4;

// ### stepdir3 ###
IO_LOC "PINOUT_STEPDIR3_STEP" 26;
IO_PORT "PINOUT_STEPDIR3_STEP" DRIVE=4;
IO_LOC "PINOUT_STEPDIR3_DIR" 25;
IO_PORT "PINOUT_STEPDIR3_DIR" DRIVE=4;

