// ### base ###
IO_LOC "sysclk_in" 52;

// ### modbus0 ###
IO_LOC "PINOUT_MODBUS0_TX" 57;
IO_PORT "PINOUT_MODBUS0_TX" DRIVE=4;
IO_LOC "PININ_MODBUS0_RX" 69;
IO_LOC "PINOUT_MODBUS0_TX_ENABLE" 68;
IO_PORT "PINOUT_MODBUS0_TX_ENABLE" DRIVE=4;

// ### blink0 ###
IO_LOC "PINOUT_BLINK0_LED" 16;
IO_PORT "PINOUT_BLINK0_LED" DRIVE=8;

// ### i2cbus0 ###
IO_LOC "PININOUT_I2CBUS0_SDA" 56;
IO_PORT "PININOUT_I2CBUS0_SDA" DRIVE=4;
IO_LOC "PINOUT_I2CBUS0_SCL" 55;
IO_PORT "PINOUT_I2CBUS0_SCL" DRIVE=4;

// ### stepdir0 ###
IO_LOC "PINOUT_STEPDIR0_STEP" 41;
IO_PORT "PINOUT_STEPDIR0_STEP" DRIVE=4;
IO_LOC "PINOUT_STEPDIR0_DIR" 40;
IO_PORT "PINOUT_STEPDIR0_DIR" DRIVE=4;
IO_LOC "PINOUT_STEPDIR0_EN" 42;
IO_PORT "PINOUT_STEPDIR0_EN" DRIVE=4;

// ### stepdir1 ###
IO_LOC "PINOUT_STEPDIR1_STEP" 33;
IO_PORT "PINOUT_STEPDIR1_STEP" DRIVE=4;
IO_LOC "PINOUT_STEPDIR1_DIR" 29;
IO_PORT "PINOUT_STEPDIR1_DIR" DRIVE=4;

// ### stepdir2 ###
IO_LOC "PINOUT_STEPDIR2_STEP" 28;
IO_PORT "PINOUT_STEPDIR2_STEP" DRIVE=4;
IO_LOC "PINOUT_STEPDIR2_DIR" 27;
IO_PORT "PINOUT_STEPDIR2_DIR" DRIVE=4;

// ### bitin0 ###
IO_LOC "PININ_BITIN0_BIT" 39;

// ### bitin1 ###
IO_LOC "PININ_BITIN1_BIT" 36;

// ### bitin2 ###
IO_LOC "PININ_BITIN2_BIT" 37;

// ### fpga0 ###

// ### fpga0_w5500 ###
IO_LOC "PINOUT_FPGA0_W5500_MOSI" 32;
IO_PORT "PINOUT_FPGA0_W5500_MOSI" DRIVE=4;
IO_LOC "PININ_FPGA0_W5500_MISO" 48;
IO_LOC "PINOUT_FPGA0_W5500_SCLK" 31;
IO_PORT "PINOUT_FPGA0_W5500_SCLK" DRIVE=4;
IO_LOC "PINOUT_FPGA0_W5500_SEL" 49;
IO_PORT "PINOUT_FPGA0_W5500_SEL" DRIVE=4;

// ### fpga0_wled ###
IO_LOC "PINOUT_FPGA0_WLED_DATA" 54;
IO_PORT "PINOUT_FPGA0_WLED_DATA" DRIVE=4;

// ### bitout0 ###
IO_LOC "PINOUT_BITOUT0_BIT" 30;
IO_PORT "PINOUT_BITOUT0_BIT" DRIVE=4;

