// ### base ###
IO_LOC "sysclk_in" 52;

// ### board0 ###

// ### board0_w5500 ###
IO_LOC "PINOUT_BOARD0_W5500_MOSI" 32;
IO_PORT "PINOUT_BOARD0_W5500_MOSI" DRIVE=4;
IO_LOC "PININ_BOARD0_W5500_MISO" 48;
IO_LOC "PINOUT_BOARD0_W5500_SCLK" 31;
IO_PORT "PINOUT_BOARD0_W5500_SCLK" DRIVE=4;
IO_LOC "PINOUT_BOARD0_W5500_SEL" 49;
IO_PORT "PINOUT_BOARD0_W5500_SEL" DRIVE=4;

// ### board0_wled ###
IO_LOC "PINOUT_BOARD0_WLED_DATA" 54;
IO_PORT "PINOUT_BOARD0_WLED_DATA" DRIVE=4;

// ### stepdir0 ###
IO_LOC "PINOUT_STEPDIR0_STEP" 85;
IO_PORT "PINOUT_STEPDIR0_STEP" DRIVE=4;
IO_LOC "PINOUT_STEPDIR0_DIR" 83;
IO_PORT "PINOUT_STEPDIR0_DIR" DRIVE=4;

// ### stepdir1 ###
IO_LOC "PINOUT_STEPDIR1_STEP" 81;
IO_PORT "PINOUT_STEPDIR1_STEP" DRIVE=4;
IO_LOC "PINOUT_STEPDIR1_DIR" 79;
IO_PORT "PINOUT_STEPDIR1_DIR" DRIVE=4;

// ### stepdir2 ###
IO_LOC "PINOUT_STEPDIR2_STEP" 77;
IO_PORT "PINOUT_STEPDIR2_STEP" DRIVE=4;
IO_LOC "PINOUT_STEPDIR2_DIR" 76;
IO_PORT "PINOUT_STEPDIR2_DIR" DRIVE=4;

